/* logo and adress details */
@font-face {
    font-family: 'Segoe Script';
    src: url('../fonts/segoesc.ttf')
}

.stats {
    vertical-align: bottom;
    text-align: center;
}

th span {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}


.name-font {
    font-family: 'Segoe Script', arial, helvetica;
}

/*These is the styling for the table*/
table,
th,
td,
tr {
    border: 2px solid black;
}

/*This is the styling to increase the subject font-size*/
.subject {
    font-size: 20px;
}



/* logo and adress details */
.head {
    background-color: #FFFCC7;
}

.head .img {
    width: 150px;
    border-radius: 50%;
}

/*.head .passport and .head .passport img are what I added */
.head .passport {
    width: 150px;
    height: 150px;
    margin: 0 0 0 1rem;
}

.head .passport img {
    width: 150px;
}

.content {
    margin-left: 2rem;
}

.content h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #052F57;
    letter-spacing: -2px;
}

.content img {
    margin-top: -13px;
}

.content .icon {
    width: 15px;
    margin-top: 0.1mm;
    margin-bottom: 1mm;
}

.head .space {
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head .content .arabic {
    width: 410px;
}

/* student details */

form {
    overflow: hidden;
}

.stu-name,
.stu-class,
.stu-sess,
.stu-add,
.stu-dob,
.stu-age,
.stu-gender {
    display: flex;
    width: 100%;
}

/* from here */
.stu-name>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 100%;
}

.stu-class>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 86%;
}

.stu-sess>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 82%;
}

.stu-add>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 90%;
}

.stu-dob>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 89%;
}

.stu-age>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 90%;
}

.stu-gender>div {
    position: relative;
    left: .2rem;
    bottom: .35rem;
    width: 95%;
}

/* to here is completely new*/

/* result layout */

.color {
    color: #052F57;
}

.heading {
    background-color: #052F57 !important;
    color: #F8EA0C;
}

/* these last two before the print media query has been altered */
.class-teacher-remark,
.class-teacher-sign {
    width: 100%;
    display: grid;
    grid-template-columns: .8fr 3fr;
}

.t-wrapper,
.hod-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
